<ion-header>
  <ion-toolbar>
    <ion-title>Create Post</ion-title>
    <ion-buttons style="float: right;">
      <button ion-button class="close" (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="imageData" style="height: 180px;">
  </ion-card>
  <form #form="ngForm" (ngSubmit)="post(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-input name="title" type="text" placeholder="Enter Title" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="caption" type="text" placeholder="Enter caption" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="content" type="text" placeholder="Enter Contents" ngModel></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Post</ion-button>
            <ion-label style="color: red;">{{errorMessage}}</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
