<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-subtitle>500gm</ion-card-subtitle>
      <ion-card-title>Potatoes</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="post-footer">
  <ion-toolbar>
    <button class="add-post" (click)="presentActionSheet()">
      <ion-icon name="add" class="btn-icon"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>