<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let post of expensePosts">
    <ion-card-header>
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-subtitle>By - {{post.username}}</ion-card-subtitle>
      <ion-card-title>{{post.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>{{post.content}}</ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="post-footer">
  <ion-toolbar>
    <button class="add-post" (click)="presentActionSheet()">
      <ion-icon name="add" class="btn-icon"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>