<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 180px auto;" *ngIf="showLoader">
    <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
  </div>
  <div *ngIf="!showLoader">
    <ion-card *ngFor="let post of expensePosts">
      <ion-card-header>
        <ion-img [src]="post.image" style="height: 180px;"></ion-img>
        <ion-card-subtitle>By - {{post.username}}</ion-card-subtitle>
        <ion-card-title>{{post.title}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>{{post.content}}</ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer class="post-footer">
  <ion-toolbar>
    <button class="add-post" (click)="presentActionSheet()">
      <ion-icon name="add" class="btn-icon"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>