<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="login-card">
    <ion-card-header text-center>
      <ion-card-subtitle>Track your expenses hastle free</ion-card-subtitle>
      <ion-card-title>Register to Expensify</ion-card-title>
      <ion-img text-center class="main-image" [src]="mainImage"></ion-img>
    </ion-card-header>
  
    <ion-card-content>
      <form #form="ngForm" (ngSubmit)="register(form)">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item>
                  <ion-input name="username" type="text" placeholder="Your Username" ngModel required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
                </ion-item>
              </div>
              <div padding>
                <ion-button *ngIf="!showLoader" size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
                <div class="virtual-button" *ngIf="showLoader">
                  <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                </div>
                <ion-label style="color: red;">{{errorMessage}}</ion-label>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>